.createpost-container {
  position: relative;

  background: rgba(219, 244, 255, 0.892);
  backdrop-filter: blur(4px);
  border: 1px solid #c7def0;

  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.9),
    0 2px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  margin-top: 20px;
}

.createpost-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0%;
  right: 0%;
  height: 40%;
  border-radius: 0 0 100% 100% / 0 0 60% 60%;
  background: linear-gradient(180deg,
      rgba(255, 255, 255, 0.85) 0%,
      rgba(255, 255, 255, 0.01) 85%);
  pointer-events: none;
}

.createpost-title,
.createpost-user-row,
.createpost-actions {
  position: relative;
  z-index: 1;
}

.createpost-title {
  font-size: 15px;
  font-weight: 600;
  color: #0c447c;
  margin-bottom: 10px;
}

.createpost-user-row {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.createpost-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(180deg, #5dcaa5 0%, #1d9e75 60%, #085041 100%);
  border: 1px solid rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  flex-shrink: 0;
}

.createpost-textarea {
  width: 100%;
  box-sizing: border-box;
  min-height: 48px;
  max-height: 170px;

  border: 1px solid rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  padding: 10px 12px;

  font-family: inherit;
  line-height: 1.25;
  resize: none;
  outline: none;

  color: #0c447c;
  background-color: rgba(255, 255, 255, 0.6);

  overflow-y: hidden;
  
}


.createpost-textarea-large {
  font-size: 22px;
  font-weight: 500;
}

.createpost-textarea-medium {
  font-size: 17px;
  font-weight: 500;
}

.createpost-textarea-small {
  font-size: 14px;
  font-weight: 400;
  overflow-y: auto;
}

.createpost-textarea-small::-webkit-scrollbar {
  width: 8px;
}

.createpost-textarea-small::-webkit-scrollbar-thumb {
  background: rgba(12, 68, 124, 0.35);
  border-radius: 999px;
}

.createpost-textarea-small::-webkit-scrollbar-track {
  background: transparent;
}

.createpost-textarea::placeholder {
  font-size: 19px;
  color: #5f8fba;
  font-weight: 400;
}

.createpost-action-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 6px 10px;
  font-size: 12px;
  font-family: inherit;

  color: white;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  background: linear-gradient(to bottom,
      #edf7fd 0%,
      #c0e6fa 90%);

  color: #1b5f99;

  text-shadow: none;
  font-weight: 600;

  border: 1px solid rgba(120, 180, 210, 0.8);
  border-radius: 999px;

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.9),
    inset 0 -1px 0 rgba(255, 255, 255, 0.3),
    0 1px 3px rgba(0, 0, 0, 0.12);

  cursor: pointer;
  transition: all 0.2s ease;
}

.createpost-action-btn:hover {
  transform: translateY(-1px);

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.95),
    0 2px 6px rgba(39, 73, 97, 0.18)
}

.createpost-action-btn:active {
  transform: translateY(0);

  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.createpost-publish-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 6px 14px;
  font-size: 12px;
  font-family: inherit;

  color: white;
  font-weight: 500;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);

  background: linear-gradient(to bottom,
      #acdaf8 20%,
      #72cbff 80%);

  color: white;

  font-weight: 700;
  border: 1px solid rgba(120, 180, 210, 0.8);
  border-radius: 999px;

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.9),
    inset 0 -1px 0 rgba(255, 255, 255, 0.3),
    0 1px 3px rgba(0, 0, 0, 0.12);

  cursor: pointer;
  transition: all 0.2s ease;
}

.createpost-publish-btn:hover {
  transform: translateY(-1px);

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.95),
    0 2px 6px rgba(0, 0, 0, 0.18);
}

.createpost-publish-btn:active {
  transform: translateY(0);

  box-shadow:
    inset 0 2px 4px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.1);
}

.createpost-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border-top: 1px solid rgba(255, 255, 255, 0.7);
  padding-top: 8px;
}

.createpost-action-btns {
  display: flex;
  align-items: center;
  gap: 10px;
}

.createpost-preview {
  position: relative;
  margin: 10px 0;
  width: 100%;
  height: 320px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #c7def0;
  background: rgba(255, 255, 255, 0.35);
}

.createpost-preview::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--preview-image);
  background-size: cover;
  background-position: center;
  filter: blur(18px);
  transform: scale(1.12);
  opacity: 0.75;
}


.createpost-preview-img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: contain;
}  

.createpost-remove-image {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 5;

  width: 28px;
  height: 28px;
  border: none;
  border-radius: 50%;

  background: rgba(0, 0, 0, 0.7);
  color: white;
  cursor: pointer;
}

.createpost-input-wrap {
  flex: 1;
  position: relative;
}

.createpost-counter {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 10px;
  color: #185fa5;
  pointer-events: none;
}

.createpost-gallery,
.post-gallery {
  position: relative;
  display: grid;
  gap: 3px;
  width: 100%;
  height: 330px;
  margin: 10px 0;
  border-radius: 8px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.35);
  border: 1px solid #c7def0;
}

.createpost-gallery-item,
.post-gallery-item {
  position: relative;
  overflow: hidden;
  background: #d7e8f2;
}

.createpost-gallery-item img,
.post-gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.createpost-gallery-1,
.post-gallery-1 {
  grid-template-columns: 1fr;
}

.createpost-gallery-2,
.post-gallery-2 {
  grid-template-columns: 1fr 1fr;
}

.createpost-gallery-3,
.post-gallery-3 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.createpost-gallery-3 .createpost-gallery-item:first-child,
.post-gallery-3 .post-gallery-item:first-child {
  grid-column: 1 / 3;
}

.createpost-gallery-4,
.post-gallery-4 {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.createpost-gallery-5,
.post-gallery-5 {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}

.createpost-gallery-5 .createpost-gallery-item:nth-child(1),
.post-gallery-5 .post-gallery-item:nth-child(1) {
  grid-column: span 3;
}

.createpost-gallery-5 .createpost-gallery-item:nth-child(2),
.post-gallery-5 .post-gallery-item:nth-child(2) {
  grid-column: span 3;
}

.createpost-gallery-5 .createpost-gallery-item:nth-child(n + 3),
.post-gallery-5 .post-gallery-item:nth-child(n + 3) {
  grid-column: span 2;
}

.createpost-gallery-more,
.post-gallery-more {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.45);
  color: white;
  font-size: 34px;
  font-weight: 700;
}